table {
    tbody {
        td {
            padding: 3px;
            .circle {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #42413f;

                &.filled {
                    background-color: #42cc3b;
                }

                &.today {
                    border: 1px solid #03f8fc;
                }
            }
        }
    }
}