.page-body {
    background-color: #242323;
    min-height: 100vh;

    .fixed {
        width: 20%;
    }

}

@media (max-width: 719px) {
}

@media (max-width: 1000px) {
    .fixed {
        display: none !important;
    }
}