.date-title {
    text-align: center;
    padding-bottom: 2rem;

    .year {
        font-family: "Roboto";
        color: white;
        font-size: 2.5rem;
    }

    .month {
        font-family: "Roboto";
        color: white;
        font-size: 2rem;
    }
}

.btn-transparent {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;

    &:disabled {
        opacity: 0.2;
    }

    &.left {
        padding-left: 40px;
    }

    &.right {
        padding-right: 40px;
    }
}

table {
    text-align: center;
    vertical-align: middle;
    user-select: none;

    thead {
        th {
            .day-letter {
                font-family: 'Roboto';
                color: #b36205;
                font-size: 1.5rem;
            }
        }
    }

    tbody {
        td {
            font-family: 'Roboto';
            color: #a19d99;
            font-size: 1rem;
            padding: 30px;
            text-align: center;

            &.disabled {
                opacity: 0.3;
            }

            .day {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #42413f;

                display: flex;
                align-items: center;
                justify-content: center;

                &.selected {
                    background-color: #42cc3b;
                    color: white;
                }

                &.today {
                    border-color: #03f8fc;
                    border-width: 2px;
                    border-style: solid;
                }
            }
        }
    }
}

.clickable {
    cursor: pointer;
}

@media (max-width: 719px) {
    .date-title {
        .year {
            font-size: 2rem;
        }
        .month {
            font-size: 1.5rem;
        }
    }

    .btn-transparent {
        font-size: 1.5rem;

        &.left {
            padding-left: 15px;
        }
    
        &.right {
            padding-right: 15px;
        }
    }
    

    table {
        thead {
            th {
                .day-letter {
                    font-size: 1rem;
                }
            }
        }
        tbody {
            td {
                font-size: 0.75rem;
                padding: 10px;

                .day {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}